---
layout: archive
permalink: /year-archive/
title: "Blog Posts"
author_profile: false
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

<h2 class="archive__subtitle">Technical</h2>

<ul class="blog-index">
  {% for post in site.posts %}
    {% unless post.lang == "zh-CN" %}
      <li class="blog-index__item">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d-%Y" }}</time>
        <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endunless %}
  {% endfor %}
</ul>
