{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

{% if page.translations %}
<link rel="alternate" hreflang="zh-CN" href="{{ page.translations.zh | absolute_url }}">
<link rel="alternate" hreflang="en" href="{{ page.translations.en | absolute_url }}">
<link rel="alternate" hreflang="x-default" href="{{ page.translations.en | absolute_url }}">
{% endif %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">
